*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #222;
    color: white;
    font-family: sans-serif;
}

.container{
    width: 80%;
    margin: auto;

}
.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px,  0;
}
input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background-color: #111;
    padding: 4px;
    margin: 4px 0;
    border-radius: 5px;
    color: white;
}
input:focus{
    background: #000;
    transform: scale(1.1);
}
.price input{
    width: 20%;
}
#total{
    background: blue;
    padding: 5px 2px;
    border-radius: 2px;
}
#total::before{
    content: 'Total: ';
}
button{
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    background: rgb(233, 233, 4);
    color: white;
    transition: 0.5;
    border-radius: 5px;
}
button:hover{
    background: rgb(104, 104, 9);
    letter-spacing: 2px;
}
.searchBtn{
    display: flex;
    justify-content: space-between;

}
#deleteAll{
    margin: 20px 0;
}
.searchBtn button{
        width: 20%;
    
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
}
table th,td{
    padding: 5px;
}

